<link href="~/css/main.css" rel="stylesheet" />
@model ProductAttributes
<h1>@Model.Name</h1>

<p>Id: @Model.Id</p>
<p>@Model.Description</p>
<img  style="height: auto"  src="~/images/daim.jpg" alt="Daim" />

<a asp-action="ListAll">Tillbaka</a>