@model IEnumerable<ProductAttributes>
<link href="~/css/main.css" rel="stylesheet" />
<h1>Alla produkter</h1>

<ul>
    @foreach (ProductAttributes x in Model)
    {
    <li><a asp-action="GetById" asp-route-id="@x.Id">@x.Name</a></li>
    }
</ul>

<form asp-action="GetById" method="get">
    <input name="id"/>
    <button type="submit">Ok</button>
</form>

<a asp-action="Index">Tillbaka</a>