
<h1>Hem</h1>

<a asp-controller="Product" asp-action="Index">Till index</a>

<a asp-controller="Product" asp-action="Testy">Till testy</a>
<a asp-controller="Product" asp-action="Yrittää">Till yrittää</a>
<a asp-controller="Product" asp-action="ListAll">Lista alla produkter</a>
