<link href="~/css/main.css" rel="stylesheet" />
<h1>Startsida</h1>

<a asp-controller="Product" asp-action="Index">Till index</a>
<a asp-controller="Product" asp-action="ListAll">List All Products</a>
<a asp-controller="Weather" asp-action="Index">Show weather</a>
